.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #000;
  color: #fff;
}

.brand-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}

.brand-section h1 {
  font-size: 17px;;
  margin: 0;
}

.logo {
  width: 70px;
  margin: 0 50px;
}

.menu-item {
  margin-right: 50px;
  cursor: pointer;
}